*{
    margin:0 auto;
    padding: auto;
}
/* border pannel */
.border{
    background-image:url("../images/banner/banner2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
}
.border-text{
    text-align: right;
    padding: 150px 250px 300px 250px;
    margin-right: 100px;
    /* margin-right: 100px;
    margin-top: 100px; */
   
}
.border-title{
    font-size: 65px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 25px;
    font-weight: 700;
   
}
.border-desctiption{
    font-size: 18px;
    color: rgb(54, 52, 52);
    
}
.rigth{
    color: #e9581e;
}
.border-btn-primary{
    color: white;
    background-color: #e9581e;
    padding: 20px 35px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
/* About My Past */
.me-and-mypast{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}
.myself{
    padding-left: 300px;
}
.mypast-description{
    text-align: center;
    /* padding: 500px 250px 400px 500px;
    margin-right: 100px; */
    padding-right: 200px;
}
 .mypast-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
 }

 .mypast-information{
    font-size: 18px;
    text-align: left;
    padding-left: 60px;
    color: rgb(54, 52, 52);
    margin-bottom: 15px;
 }
 .icon-past{
    font-size: 18px;
    text-align: left;
    padding-left: 60px;
    color: rgb(54, 52, 52);
    margin-bottom: 15px;
    padding-right: 20px;
 }
 .right{
    color:rgb(90, 194, 90) ;
 }
 /* myself */

 .myself-id{
    display: flex;
    justify-content: space-around;
    background-image: url("../images/joanna-kosinska-9gfGDbxuqrU-unsplash.jpg");
    background-position: left;
    background-repeat: no-repeat;background-size: cover;
    width: 90%;
    height: 700px;
    margin-top: 50px;
    margin-left: -70px;
 }
 .image-size{
    width: 500px;
    height: 600px;
    padding:  50px 400px 200px 0;
 }
.name{
    padding:200px 300px ;
}
.my-name{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.name-btn{
    padding: 10px 30px;
    font-size: 15px;
    margin-top: 10px;
    color: black;
    background-color: yellow;
}
.name-color{
    color: red;
}

 /* my plans pannel */

 .my-plan{
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
 }

 
.my-plan-title{
    font-size: 50px;
    font-weight: bold;
    margin: 100px;
    color: red;
}

.plans{
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 35vh;
    margin-top: 30px;

}

.plan-tite{
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}
.want{
    font-size: 18px;
    color: rgb(54, 52, 52);
}
/* my hobby pannel */

.hobby-icon{
    height: 150px;
    width: 150px;
}
.hobies{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 45px;
    margin-bottom: 150px;
}
.my-hobby-title{
    font-size: 50px;
    font-weight: bold;
    margin: 100px;
    text-align: center;
    text-decoration: underline;
    color: rgb(221, 23, 195);
}

/* call now pannel */

.call-now{
    text-align: left;
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%),url(../images/watch.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 70%;
    margin-bottom: 250px;
}
.keep-positive{
   padding:35px
}
.call-now-title{
    font-size:35px;
    color: white;
}
.btn-primary{
    color: orangered;
    background-color: white;
    border: none;
    border-radius: 8px;
    padding:10px 30px;
    font-size: 25px;
}

/* footer pannel */
.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 550px;
    width: 100%;
    background-color: black;
}
 
.footer-contact{
    color: white;
}
.future{
    font-size: 40px;
    padding-bottom: 20px;
    margin-left: -350px;
}
.footer-des{
    font-size: 20px;
    padding-bottom: 20px;
    text-align: left;
}
.icon{
    margin-left: -50px;
    padding-right: 100px;
    display: flex;
}
.subscribe{
    margin-bottom: 130px;
}
.footer-title{
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}
.email-type{
    padding: 15px 30px;
    background-color: black;
    font-size: 20px;
    color: white;
    margin-bottom: 15px;
    border: 1px solid white;

}